<header id="izil" class="header1">
    <div id="iaoh" class="container">
        <div data-columns="1" data-gjs="navbar" id="iiul" class="row no-gutters">
            <div data-column="1" id="ig7k" class="cell">
                <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/8d62be450a774a868eaef16b0d0054e5_group_18991.png"
                id="i3go0t" class="" />
                <div id="i0ma2" class="burger">
                    <div id="template-ipvtl" class="burger-line-dark"></div>
                    <div id="template-i3myf" class="burger-line-dark"></div>
                    <div id="template-ideo9" class="burger-line-dark"></div>
                </div>
            </div>
            <div data-column="1" id="i3hu0b" class="cell">
                <div data-gjs="navbar-items" id="template-igcv6" class="menu-container">
                    <nav data-gjs="navs" id="iytvlb" class="menu">
                        <button type="button" id="igcgdj" class="btn btn-primary">Home</button>
<a [routerLink]="['##']" id="in9cbu" class="menu-link">
Contact</a>

<a [routerLink]="['/login']" id="iltthu" class="menu-link">
Login</a>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>